
<script language="javascript" type="text/javascript">

  
     function clik(){

        $('#imgid').show();
        
     };
     function close(){
      alert('关闭二维码');
      document.getElementById('imgid').style.display='none';
     }
</script>




<div id="imgid" style="border:1px solid blue;display:none">
    <h1 id="close" onclick="close()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x</h1>
    <img src="http://qr.topscan.com/api.php?text=http://www.superdizzy.com{{ page.url }}"/>
</div>







<div class="social-share">
  <ul class="socialcount socialcount-small inline-list">
    
        <li class="facebook"><a href="http://service.weibo.com/share/share.php?url=http://www.superdizzy.com{{ page.url }}&title=分享一篇博文" title="分享到微博" target="_blank"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>


        <li class="twitter"><a href="http://qr.liantu.com/api.php?&text=http://www.superdizzy.com{{ page.url }}" title="扫码分享到微信" target="_blank"><span class="count"><i class="fa fa-twitter-square"></i> 分享到微信</span></a></li>
 


        <li class="facebook2">
           <a href="javascript:void(0);" id="atxt" onclick="clik()"</a>
              <span class="count">
                <i class="fa fa-twitter-square"></i>
                    点击获取二维码分享到微信
              </span>
            </a>
          </li>



       <li class="">
        <a href="javascript:void(0);" onclick="window.open('http://sns.qzone.qq.com/cgi-    bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(document.location.href));return false;" title="分享到QQ空间">
        	<img src="http://qzonestyle.gtimg.cn/ac/qzone_v5/app/app_share/qz_logo.png" alt="分享到QQ空间" />
        </a>
      </li>

   </ul>
</div><!-- /.social-share -->










