
<script language="javascript">
   
     function clik(){

        alert('ok');

        
     };


<script type="text/javascript" language="javascript">
//Author:Daviv
//Blog:http://blog.163.com/jxdawei
//Date:2006-10-28
//Email:jxdawei@gmail.com
            function sAlert(str){
            var msgw,msgh,bordercolor;
            msgw=400;//提示窗口的宽度
            msgh=400;//提示窗口的高度
            bordercolor="#2e2e2e";//提示窗口的边框颜色
            titlecolor="#2e2e2e";//提示窗口的标题颜色
            
            var sWidth,sHeight;
            sWidth=document.body.offsetWidth;
            sHeight=document.body.offsetHeight;
            

            var bgObj=document.createElement("div");
            bgObj.setAttribute('id','bgDiv');
            bgObj.style.position="relative";
            bgObj.style.top="0";
            bgObj.style.background="#777";
            bgObj.style.filter="progid:DXImageTransform.Microsoft.Alpha(style=3,opacity=25,finishOpacity=75";
            bgObj.style.opacity="0.6";
            bgObj.style.left="0";
            bgObj.style.width=sWidth + "px";
            bgObj.style.height=sHeight + "px";
            document.body.appendChild(bgObj);
            var msgObj=document.createElement("div")
            msgObj.setAttribute("id","msgDiv");
            msgObj.setAttribute("align","center");
            msgObj.style.position="absolute";
            msgObj.style.background="#2e2e2e";
            msgObj.style.font="12px/1.6em Verdana, Geneva, Arial, Helvetica, sans-serif";
            msgObj.style.border="1px solid " + bordercolor;
            msgObj.style.width=msgw + "px";
            msgObj.style.height=msgh + "px";
          msgObj.style.top=(document.documentElement.scrollTop + (sHeight-msgh)/2) + "px";
          msgObj.style.left=(sWidth-msgw)/2 + "px";
          var title=document.createElement("h4");
          title.setAttribute("id","msgTitle");
          title.setAttribute("align","right");
          title.style.margin="0";
          title.style.padding="3px";
          title.style.background=bordercolor;
          title.style.filter="progid:DXImageTransform.Microsoft.Alpha(startX=20, startY=20, finishX=100, finishY=100,style=1,opacity=75,finishOpacity=100);";
          title.style.opacity="0.75";
          title.style.border="1px solid " + bordercolor;
          title.style.height="18px";
          title.style.font="12px Verdana, Geneva, Arial, Helvetica, sans-serif";
          title.style.color="white";
          title.style.cursor="pointer";
          title.innerHTML="X";
          title.onclick=function(){
            document.body.removeChild(bgObj);
        document.getElementById("msgDiv").removeChild(title);
        document.body.removeChild(msgObj);
        }
          document.body.appendChild(msgObj);
          document.getElementById("msgDiv").appendChild(title);
          var txt=document.createElement("p");
          txt.style.margin="1em 0"
          txt.setAttribute("id","msgTxt");
          txt.innerHTML=str;
      document.getElementById("msgDiv").appendChild(txt);
      }
</script>






<div id="imgid" style="displa">
<img src="http://qr.topscan.com/api.php?text=http://www.superdizzy.com{{ page.url }}"/>
</div>







<div class="social-share">
  <ul class="socialcount socialcount-small inline-list">
    
        <li class="facebook"><a href="http://service.weibo.com/share/share.php?url=http://www.superdizzy.com{{ page.url }}&title=分享一篇博文" title="分享到微博" target="_blank"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>


        <li class="twitter"><a href="http://qr.liantu.com/api.php?&text=http://www.superdizzy.com{{ page.url }}" title="扫码分享到微信" target="_blank"><span class="count"><i class="fa fa-twitter-square"></i> 分享到微信</span></a></li>
 


        <li class="facebook2">
           <a href="javascript:void(0);" id="atxt" title="扫描二维码分享到微信" onclick="clik()"</a>
           <span class="count"><i class="fa fa-twitter-square"></i>weixin</span></a></li>



       <li class="">
        <a href="javascript:void(0);" onclick="window.open('http://sns.qzone.qq.com/cgi-    bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(document.location.href));return false;" title="分享到QQ空间">
        	<img src="http://qzonestyle.gtimg.cn/ac/qzone_v5/app/app_share/qz_logo.png" alt="分享到QQ空间" />
        </a>
      </li>

   </ul>
</div><!-- /.social-share -->










